@model Contatto

<form method="post">

    <div asp-validation-summary="All"></div>

    <input type="hidden" asp-for="@Model.Id" />

    <div class="form-group">
        <label>Nome</label>
        <input type="text" asp-for="@Model.Nome" class="form-control" />
        <span asp-validation-for="@Model.Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Cognome</label>
        <input type="text" asp-for="@Model.Cognome" class="form-control" />
        <span asp-validation-for="@Model.Cognome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Sesso</label>
        <select asp-for="@Model.Sesso" class="form-control">
            <option value="Maschio">Maschio</option>
            <option value="Femmina">Femmina</option>
        </select>
        <span asp-validation-for="@Model.Sesso" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" asp-for="@Model.Email" class="form-control" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Telefono</label>
        <input type="tel" asp-for="@Model.Telefono" class="form-control" />
        <span asp-validation-for="@Model.Telefono" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Preferito</label>
        <input type="radio" asp-for="@Model.Preferito" value="true" /> SI<br />
        <input type="radio" asp-for="@Model.Preferito" value="false" /> NO
        <span asp-validation-for="@Model.Preferito" class="text-danger"></span>
    </div>

    @if (Model.Id > 0)
    {
        <button type="submit" class="btn btn-primary">Aggiorna</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Inserisci</button>
    }
</form>