@page "/Contatti/Elenco"
@model DemoApp.Pages.Contatti.IndexModel
@{
    ViewData["Title"] = "Elenco Contatti";
}

<h2>@ViewData["Title"]</h2>

<form method="post" class="mb-4">
    <div class="input-group">
        <input type="text" class="form-control" asp-for="SearchText" placeholder="Cerca per nome o cognome" />
        <button type="submit" class="btn btn-primary">Cerca</button>
    </div>
</form>

<p>Totale contatti: @Model.FilteredCount/@Model.TotalCount</p>

@if(Model.Contatti.Count > 0) 
{
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Preferito</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contatto in Model.Contatti)
        {
            <tr>
                <td>@contatto.Cognome</td>
                <td>@contatto.Nome</td>
                <td>
                    @if(contatto.Preferito)
                    {
                        <span>SI</span>
                    }
                    else
                    {
                        <span>NO</span>
                    }
                </td>
                <td>
                    <a asp-page="/Contatti/Dettaglio" asp-route-id="@contatto.Id">Dettagli</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}else
{
<h4>Nessun contatto disponibile</h4>    
}
